# IDE 配置文件 - 建议忽略整个 .idea 文件夹，因为那是个人偏好
.idea/
*.iml
.gradle/
local.properties

# 编译生成的文件 - 绝对不能传
build/
/*/build/
bin/
gen/

# 缓存与日志
.DS_Store
captures/
.externalNativeBuild/
.cxx/
*.log

# 这里的 local.properties 包含了你的 Android SDK 本地路径
# 每个人电脑路径不同，必须忽略
/local.properties